.Header
    .Header__logo
        グループを作成しました
   
.side-bar
    = render partial: 'devise/shared/side_bar' 

.Contents-right
    
    .Contents-right__top
        =link_to "https://www.facebook.com/", class: "Contents-right__btn Contents-right__btn--edit" do
            Edit
        .groupname-class sample
        .members-class members: seo neko
        
.messages
    = render partial: 'message', collection: @messages

    
.form
    = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
        = f.submit 'Send', class: 'form__submit'
        = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'form__icon'
            = f.file_field :image, style:"display: none",class: 'hidden'
        
   
    